{% extends 'global/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container shadow-sm p-3 justify-content-center bg-body-tertiary rounded my-5">
    <div class="checkout-heading">
        <h1 class="mb-5 text-center">Checkout</h1>
    </div>
    <hr>
        <div class="main container">
            <div class="mb-6 shipping-container">
                <div class="shipping-heading">
                    <h2 class="mb-5 text-lg">Shipping Information</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label class="mb-2">First Name</label>
                        <input name="first_name" type="text" class="form-control" value="{{ request.user.first_name }}" required>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="mb-2">Last Name</label>
                        <input name="last_name" type="text" class="form-control" value="{{ request.user.last_name }}" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="mb-2">Address</label>
                    <input name="address" type="text" class="form-control" required>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6 mb-4">
                        <label class="mb-2">Zip Code</label>
                        <input name="zipcode" type="text" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="mb-2">City</label>
                        <input name="place" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="my-5">
                <h2 class="mb-5">Contact Information</h2>

                <div class="mb-4">
                    <label class="mb-2">Email</label>
                    <input name="email" type="email" class="form-control" value="{{ request.user.email }}" required>
                </div>

                <div class="mb-4">
                    <label class="mb-2">Phone</label>
                    <input name="phone" type="tel" class="form-control">
                </div>
            </div>

            <div class="mb-6 p-6 bg-gray-100 rounded-xl" id="errors">
            </div>
        </div>
        <hr>
        <div class="summary-heading text-center mt-5">
            <h2 class="mb-5">Summary</h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <button onclick="buy(event)" class="btn btn-dark">
                        Confirm Checkout
                    </button>
                </div>

        <div class="col-6 mb-2">
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col p-2 fw-bold w-50">
                        <span class="font-weight-bold">Total</span>
                    </div>
                    <div class="col p-2 fw-bold text-end w-50">
                        <span>${{ cart.get_total_cost }}</span>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        
    </div>
</div>

</div>

{% endblock %}

{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    let el = document.querySelector('#errors')

    function validateForm(data) {
        let errors = []

        if (data.first_name === '') {
            errors.push('First name is empty')
        }

        if (data.last_name === '') {
            errors.push('Last name is empty')
        }

        if (data.email === '') {
            errors.push('Email is empty')
        }

        if (data.phone === '') {
            errors.push('Phone is empty')
        }

        if (data.address === '') {
            errors.push('Address is empty')
        }

        if (data.zipcode === '') {
            errors.push('Zipcode is empty')
        }

        if (data.place === '') {
            errors.push('Place is empty')
        }

        if (errors.length > 0) {
            let html = '<ul>';
            
            errors.forEach((error) => {
                html += '<li>' + error + '</li>';
            })

            el.innerHTML = html + '</ul>';
        } else {
            el.innerHTML = '';
        }

        return errors
    }

    function buy(event) {
        event.preventDefault()

        let data = {
            'first_name': document.querySelector('input[name=first_name]').value,
            'last_name': document.querySelector('input[name=last_name]').value,
            'email': document.querySelector('input[name=email]').value,
            'phone': document.querySelector('input[name=phone]').value,
            'address': document.querySelector('input[name=address]').value,
            'zipcode': document.querySelector('input[name=zipcode]').value,
            'place': document.querySelector('input[name=place]').value,
        }

        let errors = validateForm(data)

        if (errors.length) {
            console.log('Errors', errors)
        } else {
            var stripe = Stripe('{{ pub_key }}')
            
            fetch('/order/start_order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.session.id })
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message)
                }
            })
            .catch(function(error) {
                console.log('Errors', error)
            })
        }

        return false
    }
</script>
{% endblock %}