{% extends 'global/base.html' %}
{% load static %}
{% block title %}Success | {% endblock %}

{% block content %}
<div class="container container-form">
        <div class="col mt-5">
            <h1 class="text-center">D&E</h1>
        </div>
        <div class="col">
            <h2 class="text-center mt-3">Thank You For Shopping at DBZ EICHE!</h2> 
        </div>
        <div class="col">
            <p class="text-center mt-3">We receive your order and will contact you when <br> your parcel is shipped.</p>
        </div>

</div>
{% endblock %}