

    <div class="container-fluid justify-content-center" id="cart-item-{{ item.product_id }}">
        <div class="row">
            <div class="col-12 col-md-2 cart-img p-3 text-center my-2">
                <a href="666" class="w-1/4">
                    <img id="dashboard-image" src="{{ item.image.url }}">
                </a>
            </div>
            <div class="col-12 col-md-2 my-2">
                {{ item.product_display_name }}
                {{ item.product.season }}
            </div>
            <div class="col-12 col-md-2 text-center my-2">
                <button class="btn btn-sm btn-outline-dark" onclick="updateCart('{{ item.product_id }}', 'decrement')">-</button>
                <span class="mx-2">{{ item.quantity }}</span>
                <button class="btn btn-sm btn-outline-dark" onclick="updateCart('{{ item.product_id }}', 'increment')">+</button>
            </div>
            <div class="col-12 col-md-2 my-2">
                <span class="mb-6 pt-1 text-gray-400">${{ item.total_price }}</span>
            </div>
            <div class="col-12 col-md-2 text-center my-2">
                <button class="btn btn-danger" onclick="removeFromCart('{{ item.product_id }}')">Remove</button>
            </div>
            <hr>
        </div>
    </div>
