{% include 'partials/head.html'%}
{% include 'partials/header.html'%}
{% load static %}

<div class="main-details-container d-flex align-items-center w-100">
    <div class="container sub-container h-100">
      <div class="row h-100">
        <div class="col-12 col-sm-6 h-100"> 
          <div class="text-center h-50">
            <img class="w-100 h-100 image-details rounded" src="{% static '1584.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-6 p-4"> 
          <div class="text-center container-product-details justify-content-center">
          <h1 class="text-center p-3">DBZ EICHE</h1>
          <h2 class="text-start">Lorem ipsum dolor sit amet</h2>
          <p class="text-start description-product"><strong>$19,99</strong></p>
          <p class="text-start description-product">Blue</p>
          <div class="d-grid gap-2 col-6 mx-auto w-100">
          <button class="btn btn-dark" type="button"><i class="fa-solid fa-bag-shopping"></i>  Add</button>
          </div>
           <p class="text-start m-0 pt-3"><i class="fa-solid fa-store"></i> available in stores </p>
           <p class="text-start m-0 pt-2"><i class="fa-solid fa-circle-exclamation"></i> Free standard delivery and free and flexible returns</p>
           <button type="button" class="btn  btn-outline-dark btn-sm m-3">Delivery and Payment</button>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-5 p-0">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        <div class="d-flex flex-column justify-content-start ml-2">
                          <h3 class="d-block font-weight-bold">Reviews</h3>
                          <span class="d-block font-weight-bold pt-3">Marry Andrews</span>
                          <span class="date text-black-50 pt-2">Jan 2020</span>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="d-flex flex-row fs-12">
                            <div class="like p-2 cursor">
                              <i class="fa-regular fa-thumbs-up"></i>
                              <span class="ml-1">Like</span>
                            </div>
                            <div class="like p-2 cursor">
                              <i class="fa-regular fa-comment-dots"></i>
                              <span class="ml-1">Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                          <textarea class="form-control ml-1 shadow-none textarea"></textarea>
                        </div>
                        <div class="mt-2 text-right">   
                          <button class="btn btn-dark btn-sm shadow-none px-2" type="button">comment</button>
                          <button class="btn btn-outline-danger btn-sm ml-1 shadow-none" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>




{% include 'partials/footer.html'%}