{% extends 'global/base.html' %}
{% load static %}

{% block content %}
{% include 'global/partials/search.html' %}
{% include 'global/partials/information_section.html' %}
  <div class="main-content main-conten-list container pt-0">
    {% for product in products %}
      <div class="products products-list rounded-2 mx-auto">
        <div class="product-image-container">
            <a href="{% url 'details_products' product_id=product.id %}">
              {% if product.image %}
                <img class="w-100 rounded-2" src="{{ product.image.url }}" alt="{{ product.product_display_name }}">
              {% endif %}
            </a>
        </div>
        <div class="product-title-container">
          <h3>{{ product.product_display_name }}</h3>
        </div>
        <div class="product-price-container d-flex align-items-center justify-content-center ">
          <div class="row w-100">
            <div class="col-6 text-center p-1">
              $ {{ product.price }}
            </div>
            <div class="col-6 text-center p-1">
              {{ product.season }}
            </div>
          </div>
        </div>
        <div class="product-price-container d-flex align-items-center justify-content-center ">
          <div class="row w-100">
              <div class="col-6 text-center p-1">
                <button
                href="{% url 'details_products' product_id=product.id %}" 
                class="btn btn-outline-dark btn-sm px-3 view-btn w-100"
                hx-get="{% url 'add_to_cart' product.id %}"
                hx-target="#menu-cart-button"
                hx-swap="outerHTML" aria-label="Add the product to the cart"
                >
                 Add
                </button>
 
              </div>
            <div class="col-6 text-center p-1">
              <a href="{% url 'details_products' product_id=product.id %}" class="btn btn-outline-dark btn-sm px-3 view-btn w-100"  aria-label="Get more infomation about the product">View</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> 
{% endblock content %}

{% include 'global/partials/footer.html'%}