{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    {% if not cart_items %}
       Cart is empty
        <div class="container mt-100">
            <div class="cart-empty">
                <div class="col-sm-12 text-center">
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a href="{% url 'main_page' %}" class="btn btn-dark m-3" data-abc="true">Continue Shopping</a>
                </div>
            </div>
        </div>
    {% else %}

            <div class="row">
                <div class="col-12">
                    <div class="container-fluid justify-content-between">
                        <div class="row">
                        <div class="col-4">
                            <h4 class="mb-3 text-end">Items</h4>
                        </div>
                        <div class="col-4">
                            <h5 class="text-center">Quantity</h5>
                        </div>
                        <div class="col-4">
                            <h5  class="text-start">Price</h5>
                        </div>
                        </div>
                    </div>
                    <hr>
                    {% for cart_item in cart_items %}
                    <div class="container-fluid justify-content-center ">
                        <div class="row">
                            <div class="col-12 col-md-3 cart-img p-3 text-center my-2"> 
                                <img src="{{ cart_item.product.image.url }}" class="border border-dark" alt="{{ cart_item.product.product_display_name }}">
                            </div>
                            <div class="col-12 col-md-2 my-2">
                                <div class="text-center h-50"><strong>{{ cart_item.product.product_display_name }}</strong></div>
                                <div class="text-center h-50">{{ cart_item.product.season }}</div>
                            </div>
                            <div class="col-12 col-md-3 text-center mx-auto remove_and_add my-2">
                                <div class="row">
                                    <div class="col w-25">
                                        <a 
                                            class="p-3 bg-gray-100"
                                            hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
                                            hx-target="#cart-item-{{ item.product.id }}"
                                            hx-swap="outerHTML"
                                        >
                                        -
                                        </a>
                                    </div>
                                    <div class="col quantity-value ">
                                        <input type="text" class="w-50" value="{{ cart_item.quantity }}">
                                    </div>
                                    <div class="col w-25">
                                        <a href="{% url 'add_cart' cart_item.product.id %}"  class="btn btn-outline-dark btn-sm " type="button" id="button_minus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2 my-2">
                                <span>{{ item.quantity }}</span>
                            </div>
                            <div class="col-12 col-md-2 text-center my-2">
                                <a href="{% url 'remove_cart_item' cart_item.product.id %}"><i class="fa-solid fa-trash text-danger"></i></a>
                            </div>
                            <hr>
                        </div>
                    </div>
                   
                    {% endfor %}
                </div>
            </div>

      <div class="col-12">
            <div class="summary text-center my-4">
                <h2><strong>Summary</strong></h2>
            </div>
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Items</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Delivery</th>
                    <th scope="col" class="text-center">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td >{{ quantity }}</td>
                    <td class="text-center">$ {{ total }}</td>
                    <td class="text-center">{{delivery}}</td>
                    <td class="text-center">$ {{ grand_total }}</td>
                  </tr>
                </tbody>
              </table>
                
                
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <a href="/" class="btn btn-outline-dark mt-5 w-100">COUTINUE SHOPPING</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="/" class="btn btn-dark mt-5 w-100">CHECKOUT</a>
                    </div>
                </div>
            </div>
    {% endif %}
</div>
{% endblock content %} 
