{% extends 'global/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% load static %}



{% block content %}
<div class="authentificator-container sigin-container">
  <div class="container pb-5">
    <div class="row">
      <div class="text-center  p-5">
        <h1>{% trans "Sign In" %}</h1>
      </div>
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts.<br>Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
  
      <div class="socialaccount_ballot">
  
        <div class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
  
        <div class="login-or border-top border-bottom my-3">{% trans 'OR' %}</div>
  
      </div>
  
      {% include "socialaccount/snippets/login_extra.html" %}
  
      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
    </div>
    <div class="row">
      <form class="login w-50 mx-auto" method="POST" action="{% url 'account_login' %}">
        <div class="mb-3">
          {% csrf_token %}
          {% for field in form %}
          <p>
              {{ field.label_tag }}
              {% if field.field.widget.input_type != "checkbox" %}
              {{ field|add_class:"form-control" }}
              {{ field.errors }}
              {% else %}
              {{ field }}
              {% endif %}
          </p>
          {% endfor %}
          
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          
          <div class="mb-3 form-check">
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
          
          <button class="btn btn-dark w-100" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
