 <footer class="w-100 h-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-12 col-md-3">
                    <h3 class="text-white">DBZ EICHE</h3>
                    <p class="small text-white mb-0 ">&copy; Copyrights. All rights reserved.</p>
                </div>
                <div class="col-12 col-md-3 footer-links">
                    <h3 class="text-white mb-3">Quick links</h3>
                    <ul class="list-unstyled text-muted">
                        <li><a class="text-decoration-none" href="https://www.facebook.com/profile.php?id=61556263235702" target="_blank" rel="noopener">Facebook</a></li>
                        <li><a class="text-decoration-none" href="{% url 'account_login' %}" target="_blank" rel="noopener">Login</a></li>
                        <li><a class="text-decoration-none" href="{% url 'account_signup' %}" target="_blank" rel="noopener">Create account</a></li>
                        <li><a class="text-decoration-none" href="{% url 'privacy_policy'%}" target="_blank" rel="noopener">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6" id="mc_embed_shell" id="mc_embed_signup">
                    <div class="newsletter-heading">
                        <h3 class="text-white mb-3">Newsletter</h3>
                    </div>
                    <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=99907ac8f98e18295da56053a&amp;id=2be73feffb&amp;f_id=00e7eee6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group mb-3">
                                <label for="mce-EMAIL" class="text-white mb-1">Email address</label>
                                <input type="email" name="EMAIL" class="required email rounded" id="mce-EMAIL" required="" value="">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response text-white " id="mce-error-response" style="display: none;"></div>
                                <div class="response text-white" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                <input type="text" name="b_99907ac8f98e18295da56053a_2be73feffb" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-light btn-sm m-0" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>