<div class="d-flex align-items-center">
  <div class="container">
    <div class="row box">
      <div class="col-md-4 col-4"> 
        <div class="text-center message-container">
            <i class="fas fa-truck"></i>
            <h4>DELIVERY</h4>
            <P>Style at Your Doorstep!</P>
        </div>
      </div>
      <div class="col-md-4 col-4"> 
        <div class="text-center message-container">
            <i class="fas fa-thumbs-up"></i>
            <h4>PAYMENTS</h4>
            <p>Shop Confidently with Secure Payments!</p>
        </div>
      </div>
      <div class="col-md-4 col-4"> 
        <div class="text-center message-container">
            <i class="fas fa-undo-alt"></i>
            <h4>RETURN</h4>
            <p>Easy Returns, Effortless Style!</p>
        </div>
      </div>
    </div>
  </div>
</div>