<div class="search-container">
    <div class="container">
        <div class="title-heading text-center">
            <span class="title">DBZ EICHE</span>
        </div>
        <div class="text-center">
            <form action="{% url 'search' %}" method="GET" class="search-form">
                <input type="search" class="search-input" name="q" value="{{ search_term }}" placeholder="Search Products" required>
                <button type="submit" class="search-btn"><i class="fas fa-search" aria-label="search-btn" ></i></button>
            </form>
        </div>
        {% include 'pages/categories.html'%}
    </div>
</div>